@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 252 71 71;
  --primary-background: 16 20 30;
  --secondary-background: 22 29 47;
  --tertiary-background: 90 105 143;
  --pure-white: 255 255 255;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  background: rgb(var(--primary-background));
}

body {
  min-width: 325px;
  margin: 0 auto;
}
